<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.recruit.mapper.AdminMapper">

    <resultMap id="BaseResultMap" type="com.example.recruit.domain.Admin">
            <id property="adminid" column="adminId" jdbcType="INTEGER"/>
            <result property="adminname" column="adminName" jdbcType="VARCHAR"/>
            <result property="adminpwd" column="adminPwd" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        adminId,adminName,adminPwd
    </sql>
</mapper>
