<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.recruit.mapper.ApplyForMapper">
    <resultMap id="BaseResultMap" type="com.example.recruit.domain.ApplyFor">
        <id property="applyForId" column="apply_for_id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="positionId" column="position_id" jdbcType="INTEGER"/>
        <result property="applyForState" column="apply_for_state" jdbcType="VARCHAR"/>
        <result property="applyForCause" column="apply_for_cause" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        apply_for_id
        ,user_id,position_id,
        apply_for_state,apply_for_cause
    </sql>
</mapper>
