<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.recruit.mapper.RecordMapper">

    <resultMap id="BaseResultMap" type="com.example.recruit.domain.Record">
            <id property="recordid" column="recordId" jdbcType="INTEGER"/>
            <result property="ridPositionid" column="rId_positionId" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        recordId,rId_positionId
    </sql>
</mapper>
