<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.recruit.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.example.recruit.domain.User">
            <id property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="userPhone" column="user_phone" jdbcType="BIGINT"/>
            <result property="userName" column="user_name" jdbcType="VARCHAR"/>
            <result property="userGender" column="user_gender" jdbcType="VARCHAR"/>
            <result property="userAge" column="user_age" jdbcType="INTEGER"/>
            <result property="userNation" column="user_nation" jdbcType="VARCHAR"/>
            <result property="userStature" column="user_stature" jdbcType="FLOAT"/>
            <result property="userWeight" column="user_weight" jdbcType="FLOAT"/>
            <result property="userObey" column="user_obey" jdbcType="TINYINT"/>
            <result property="userPutUp" column="user_put_up" jdbcType="TINYINT"/>
            <result property="userState" column="user_state" jdbcType="TINYINT"/>
            <result property="userIdentityCard" column="user_identity_card" jdbcType="VARCHAR"/>
            <result property="userHeadPortrait" column="user_head_portrait" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,user_phone,user_name,
        user_gender,user_age,user_nation,
        user_stature,user_weight,user_obey,
        user_put_up,user_state,user_identity_card,
        user_head_portrait
    </sql>
</mapper>
